body{
  font-family: 'Tangerine', serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.navbar{
 margin: 0;
 padding: 0;
}

h1, h2{
  color: white;
  margin-top: 40px;
}

#head-row{
  background: url(https://static.pexels.com/photos/125457/pexels-photo-125457.jpeg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 825px;
  margin: 0;
  padding: 0;
}

#colHeadText1 {
  padding-top: 50px;
}

#list-item{
  color: white;
  font-size: 30px;
  margin-top: 70px;
}

#cityDiv {
  width: 60%;
  margin: auto;
  text-align: center;
}

.jumbotron{
  color: white;
  background: #4aa1f3;
  margin-bottom: 0;
}

input[type='text']{
  height: 40px;
  font-size: 20px;
}

#submitCity{
  height: 40px;
  font-weight: bold;
}

#errorCity {
  width: 50%;
  margin: auto;
  text-align: center;
}

#showWeather {
  width: 60%;
  margin: auto;
  background-color: #4aa1f3;
  color: white;
  border-radius: 25px;
}

#header h2 {
  color: black;
}

footer {
  background-color: #4aa1f3;
  padding: 0;
  margin-bottom: 0;

}

#copy-right {
  color: white;
  font-size: 25px;
  padding: 10px;
  margin: 0;
}
